* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inhoud website*/
body {
    background-color: rgb(3, 20, 72);
}

section {
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-right: 10%;
    color: #fff;
}

/*header van de website*/
/*width en height kunnen niet beide 100% zijn*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75, )), url("/img/championsleague.jpg");
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo linksboven*/
.logo {
    width: 70px;
    cursor: pointer;
}

/*navigatie menu*/
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ED3AFB;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/*introductie website*/
.intro {
    width: 50%;
    margin-left: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.intro h1 {
    font-size: 70px;
    margin-top: 160px;
}

.intro p {
    margin: 10% auto;
    font-weight: 100;
    line-height: 25px;
}

/*verschillende onderdelen*/
#uefa {
    column-count: 2;
    column-width: 50%;
}
#europa {
    column-count: 2;
    column-width: 50%;
}
#stadions {
    column-count: 2;
    column-width: 50%;
}
#raalte {
    column-count: 2;
    column-width: 50%;
}
#clwinnaars {
    column-count: 1;
    column-width: 80%;
}
#cltopscorers {
    column-count: 1;
    column-width: 80%;
}

/*tekstvakken*/
.tekst {
    padding-left: 10px;
}

/*kaarten*/
#leafletmap {
    width: 100%;
    height: 300px;
}
#arcgismap {
    width: 100%;
    height: 300px;
}
#openlayersmap {
    width: 100%;
    height: 300px;
}
#maplibremap {
    width: 100%;
    height: 300px;
}

/*datavisualisaties*/
.datavisualisaties {
    padding-top: 30px;

}